{% extends 'base.html.twig' %}

{% block title %}Editeurs{% endblock %}

{% block body %}
    <section id="about">
		<div class="container px-4">
			<div class="row gx-4 justify-content-center">
				<div class="col-lg-8 w-50 m-auto">
                    <h1>Editeur : </h1>
                    <a class="btn btn-primary mb-3" href="{{ path('app_admin_editor') }}"><- Liste des éditeurs</a>
                    {% if editor is not null %}
                        <div class="card mb-1 m-auto">
                            <div class="card-body">
                                <div class="card-title d-flex justify-content-between">
                                    <h4 class="mb-1">{{ editor.name }}</h4>
                                    <small class="text-muted">Identifiant : {{ editor.id }}</small>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div>Editeur non trouvé</div>
                    {% endif %}
                </div>
			</div>
		</div>
    </section>
{% endblock %}